@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer>
    <div class="container">
        <p>&copy; 2025 Kütüphane Yönetim Sistemi. Tüm hakları saklıdır. - <a href="https://github.com/ilaydabkrc">İlayda Taşçı</a> </p>
    </div>
</footer>
