@{
    ViewData["Title"] = "Home Page";
}

<h1>Kütüphane Yönetim Sistemi</h1>
<p>Kütüphane yönetim sistemine hoş geldiniz.</p>

<div class="actions">
    <a href="/Book/List" class="btn">Kitapları Görüntüle</a>
    <a href="/Author/List" class="btn">Yazarları Görüntüle</a>
</div>